body {
    display: flex;
    background-color: greenyellow;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

h1 {
    text-align: center;
    background-color: red;
    margin: 0px;
}

p {
    text-align: center;
}

.mainBody {
    display: flex;
    background-color: blanchedalmond;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
    justify-content: space-evenly;
    /* justify-content: center; */
    padding: 10px;
}

.userInput {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    /* align-items: center; */
    flex-direction: column;
}

.etchGrid {
    display: flex;
    background-color: azure;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.footer {
    display: flex;
    background-color: aqua;
    justify-content: center;
    padding: 10px;
}